@using static IPassM.Components.Pages.UserCredentials.ViewCredentials
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-header text-white">
                    <span>
                        <h3 class="mb-0 float-start">Stored Credentials</h3>
                        <button class="btn btn-pinky text-white float-end" @onclick="@((evt) => DoAction("Add"))">
                            <i class="bi bi-patch-plus"></i>
                            Add
                        </button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="text" @bind="SearchWebsite" @bind:event="oninput" @bind:after="FilterRecords" placeholder="Search Website" autocomplete="off" />
                                    </th>
                                    <th>
                                        <input type="text" @bind="SearchUsername" @bind:event="oninput" @bind:after="FilterRecords" placeholder="Search Username" autocomplete="off" />
                                    </th>
                                    <th></th>
                                    <th>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Website Name</th>
                                    <th>User Name</th>
                                    <th>Password</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var credential in CredentialsList)
                                {
                                    <tr>
                                        <td>@credential.WebsiteName</td>
                                        <td>@credential.UserName</td>
                                        <td>@(credential.Show ? CsvService!.GetPassword(credential.CredentialId) : "****")</td>
                                        <td>
                                            <span title="Edit" @onclick="(e =>Edit(credential))"><i class="bi bi-pencil-square"></i></span>
                                            <span title="Delete" @onclick="(e=> Delete(credential))"><i class="bi bi-trash3-fill"></i></span>
                                            @{
                                                if (!credential.Show)
                                                {
                                                    <span title="Show" @onclick="(e=>ViewPassword(credential))">
                                                        <i class="bi bi-eye-fill"></i>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span title="hide" @onclick="(e=>HidePassword(credential))">
                                                        <i class="bi bi-eye-slash-fill"></i>
                                                    </span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    #region Parameters
    [Parameter]
    public EventCallback<PassParam> onAddButtonClicked { get; set; }
    #endregion

    public string SearchWebsite { get; set; } = string.Empty;
    public string SearchUsername { get; set; } = string.Empty;
    public string? Name { get; private set; }
    public string? CredId { get; private set; }
    public CsvService? CsvService { get; private set; }

    private List<Credential> credentials = new();
    private List<CredentialDisplay> CredentialsList = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal user = authState.User;
        var claims = user.Claims;
        Name = claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
        CredId = claims.FirstOrDefault(c => c.Type == "Id")?.Value;
        CsvService = new(Name!, Guid.Parse(CredId!));
        credentials = await FetchCredentials();
        CredentialsList = credentials.Select(cred => new CredentialDisplay
            (
                cred.WebsiteName,
                cred.UserName,
                cred.Password,
                false,
                cred.CredentialId
            )).ToList();

    }

    private async Task Delete(CredentialDisplay credential)
    {
        await Task.Delay(0);
        CsvService?.DeleteEntry(credential.CredentialId);
        NavigationManager.NavigateTo("/credential/view", true);
        // PassParam passParam = new("View");
        // await onAddButtonClicked.InvokeAsync(passParam);
    }

    private async Task ViewPassword(CredentialDisplay credential)
    {
        await Task.Delay(0);
        int index = CredentialsList.FindIndex(e => e.CredentialId == credential.CredentialId);
        var updated = CredentialsList[index] with { Show = true };
        CredentialsList[index] = updated;
    }

    private async Task HidePassword(CredentialDisplay credential)
    {
        await Task.Delay(0);
        int index = CredentialsList.FindIndex(e => e.CredentialId == credential.CredentialId);
        var updated = CredentialsList[index] with { Show = false };
        CredentialsList[index] = updated;
    }

    private async Task Edit(CredentialDisplay credential)
    {
        await Task.Delay(0);
        PassParam passParam = new("Edit", credential.CredentialId);
        await onAddButtonClicked.InvokeAsync(passParam);
    }

    private async Task DoAction(string action)
    {
        PassParam passParam = new(action, null);
        await onAddButtonClicked.InvokeAsync(passParam);
    }

    private async Task<List<Credential>> FetchCredentials()
    {
        await Task.Delay(0);
        return CsvService!.ViewEntries();
    }

    private async Task FilterRecords()
    {
        Console.WriteLine("username -- {0}", SearchUsername);
        Console.WriteLine("website -- {0}", SearchWebsite);
        credentials = CsvService!.FilterEntries(SearchWebsite,SearchUsername);
        CredentialsList = credentials.Select(cred => new CredentialDisplay
            (
                cred.WebsiteName,
                cred.UserName,
                cred.Password,
                false,
                cred.CredentialId
            )).ToList();
    }
    private record CredentialDisplay(string WebsiteName, string UserName, string Password, bool Show, Guid CredentialId);
}
