:root {
    --gradient-bg: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width:70vh
}

.form-control {
    margin-bottom: 15px;
}


.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-bg);
}


