@page "/usercredentials/add"
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-white">
                    <h3 class="mb-0">Add Credential</h3>
                </div>
                <div class="card-body">
                    <EditForm Model="@credential" OnValidSubmit="@HandleValidSubmit" FormName="CredentialAdd">
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger" />

                        <div class="form-group mt-2">
                            <label for="websiteName">Website Name</label>
                            <InputText id="websiteName" list="website-name-list" class="form-control" @bind-Value="credential.WebsiteName" />
                            <datalist id="website-name-list">
                                @foreach (string str in GetWebsiteSuggestions())
                                {
                                    <option value="@str">@str</option>
                                }
                            </datalist>
                        </div>

                        <div class="form-group mt-2">
                            <label for="userName">User Name</label>
                            <InputText id="userName" class="form-control" @bind-Value="credential.UserName" />
                        </div>

                        <div class="form-group mt-2">
                            <label for="password">Password</label>
                            <InputText id="password" type="password" class="form-control" @bind-Value="credential.Password" />
                        </div>
                        <button type="button" class="btn gradient-button text-white float-start mt-3" @onclick="Cancel">
                            <i class="bi bi-x-circle"></i>
                            Cancel
                        </button>
                        <button type="submit" class="btn gradient-button mt-3 float-end">
                            <i class="bi bi-save"></i>
                            Save
                        </button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    #region Parameters
    [Parameter]
    public EventCallback onCancelButtonClicked { get; set; }

    [SupplyParameterFromForm]
    private Credential credential { get; set; }

    #endregion

    private ClaimsPrincipal user;

    private List<string> GetWebsiteSuggestions()
    {
        return new List<string>
        {
            "www.Facebook.com",
            "www.Google.com",
            "www.LinkedIn.com",
            "www.Instagram.com"
        };
    }

    protected override void OnInitialized() => credential ??= new();
    
    private async Task HandleValidSubmit()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        IEnumerable<Claim> claims = user.Claims;
        string name = claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
        string guid = claims.FirstOrDefault(c => c.Type == "Id")?.Value;

        CsvService csvService = new(name, Guid.Parse(guid));
        csvService.AddEntry(Guid.NewGuid(), credential.WebsiteName, credential.UserName, credential.Password);
        await onCancelButtonClicked.InvokeAsync();
    }
    
    private async Task Cancel()
    {
        await onCancelButtonClicked.InvokeAsync();
    }
}